In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
{
    "sex": ["F","M","F","F","M","F"],
    "heigh":[155, 175, 160, 165, 180, 163]
})

df

   heigh sex
0    155   F
1    175   M
2    160   F
3    165   F
4    180   M
5    163   F

In [9]:
df['heigh_to_mean'] = round(df['heigh'] / df['heigh'].mean(),2)
df

   heigh sex  heigh_to_mean
0    155   F           0.93
1    175   M           1.05
2    160   F           0.96
3    165   F           0.99
4    180   M           1.08
5    163   F           0.98

In [10]:
df['heigh'].mean()

166.33333333333334

In [11]:
gb = df.groupby('sex')
print(gb["heigh"].mean()) # <=> gb["heigh"].apply(np.mean)

sex
F    160.75
M    177.50
Name: heigh, dtype: float64

In [12]:
def norm_by_avg(data):
    data["heigh_to_sex_mean"] = data['heigh'] / data['heigh'].mean()
    return round(data,2)

In [13]:
gb.apply(norm_by_avg)

   heigh sex  heigh_to_mean  heigh_to_sex_mean
0    155   F           0.93               0.96
1    175   M           1.05               0.99
2    160   F           0.96               1.00
3    165   F           0.99               1.03
4    180   M           1.08               1.01
5    163   F           0.98               1.01