In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
{
    "sex": ["F","M","F","F","M","F"],
    "heigh":[155, 175, 160, 165, 180, 163]
})

df

   heigh sex
0    155   F
1    175   M
2    160   F
3    165   F
4    180   M
5    163   F